<script src="vue.js"></script>
<style type="text/css">
	.done { text-decoration: line-through; }
</style>
<div id="app">
	<input v-model="str" type="text" placeholder="Your dream">
	<button @click="addTodo(this)">Add</button>
	<ol>
		<li v-for="todo, i in todos">
			<div :class="{done: todo.type}">
				<input type="checkbox" v-model="todo.type">
				{{todo.str}}
				<button @click="removeTodo(i)">Delete</button>
			</div>
		</li>
	</ol>
</div>
<script>
	const Main = {
		data: () => ({
			str: '',
			todos:
			[
				{str: 'Earn 1M$', type: true},
			],
		}),
		methods: {
			addTodo: function(e){
				if(e.str !== ''){
					e.todos.push({
						str: e.str,
						type: false
					})
					e.str = ''
				}
			},
			removeTodo: function(id){
				this.todos.splice(id, 1);
			}
		}
	}
	const App = Vue.extend(Main)
	new App().$mount('#app')
</script>